div{
    width: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 400px;
    border: solid 5px;
    padding: 15px;
    border-radius: 20px;
}
p{
    color: gray;
}
h1{
    text-align: center;
}